#title {
    font-size: 3rem;
    text-align: center;
    text-decoration: underline;
    color: red;
    margin-bottom: 2rem;
}
.trick-list {
    margin-top: 1rem;
}
.trick-list li {
    font-size: 1.5rem;
    font-weight: bold;
}